<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', "{{ .GATag }}"]);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row text-center">
      <img src="images/flat_glass_of_beer_by_superawesomevectors-d8kdgg9.jpg" width="250">
    </div>
    <table class="table">
      <tr><th>Region</th><th>Favourite Beer Type</th><tr>
      <tr><td>Cologne</td><td>Kölsch</td><tr>
      <tr><td>Düsseldorf</td><td>Altbier</td><tr>
      <tr><td>Bavaria</td><td>Hefeweizen</td><tr>
      <tr><td>Leipzig</td><td>Gose Beer</td><tr>
        {{ range $place, $beer := .Beers }}
          <tr><td>{{ $place }}</td><td>{{ $beer }}</td></tr>
        {{ end }}
    </table>
     <div>You have been served by server {{ .InstanceIndex }}</div>
    </div>
  </body>
</html>
