<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="views/css/bootstrap.min.css">
    <link rel="stylesheet" href="views/css/bootstrap-theme.min.css">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', "{{ .GATag }}"]);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row text-center">
      <img src="views/images/flat_glass_of_beer_by_superawesomevectors-d8kdgg9.jpg" width="250">
    </div>
    <table class="table">
      <tr><th>Region</th><th>Favourite Beer Type</th><tr>
      <tr><td>Cologne</td><td>Kölsch</td><tr>
      <tr><td>Düsseldorf</td><td>Altbier</td><tr>
      <tr><td>Bavaria</td><td>Hefeweizen</td><tr>
      <tr><td>Leipzig</td><td>Gose Beer</td><tr>
        {{ range $place, $beer := .Beers }}
          <tr><td>{{ $place }}</td><td>{{ $beer }}</td></tr>
        {{ end }}
    </table>

    <h4>Why not add a new beer?</h4>
      <form method="post" action="/create" class="form-inline">
        <div class="form-group">
          <label for="region">Region</label>
          <input type="text" class="form-control" name="region" name="region"><br>
        </div>
        <div class="form-group">
          <label for="brand">Brand</label>
          <input type="text" class="form-control" id="brand" name="brand">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

    <div>You have been served by server {{ .InstanceIndex }}</div>
    </div>
  </body>
</html>
