<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row text-center">
      <img src="images/flat_glass_of_beer_by_superawesomevectors-d8kdgg9.jpg" width="250">
    </div>
    <table class="table">
      <tr><th>Region</th><th>Favourite Beer Type</th><tr>
      <tr><td>Cologne</td><td>Kölsch</td><tr>
      <tr><td>Düsseldorf</td><td>Altbier</td><tr>
      <tr><td>Bavaria</td><td>Hefeweizen</td><tr>
      <tr><td>Leipzig</td><td>Gose Beer</td><tr>
    </table>
    </div>
  </body>
</html>
